
.background {
	fill: none;
	pointer-events: all;
}

#countries {
	fill: none;
}

#countries .activeCount {
	stroke-width: 3;
	stroke: #000;
}

.countries:hover{
	fill-opacity:0.5;
}

/* Style for Custom Tooltip */
div.tooltip {
	white-space: pre;
	position: absolute;
	text-align: center;
	padding: 5px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
